#option-list img {
	max-width: 20px;
	margin-right: 10%;
	margin-left: 30%;
}

#option-list :hover {
	background-color: #58a3e5;
	cursor: pointer;
}

#option-list li button {
	border: none;
	background-color: white;
}

/* Estilo para el bot칩n cuando est치 presionado */
button:active {
	border-color: white !important;
}

/* Estilo para el bot칩n cuando tiene el foco */
button:focus {
	outline: none;
	border-color: white !important;
}

#figure {
	background-color: white;
	border-color: transparent;
	outline: none;
	width: 100%;
	margin-bottom: 5px;
}

#figure :hover {
	cursor: pointer;
	background-color: white;
}

#fill-color {
	height: 14px;
	width: 14px;
}

#fill-color:checked~label {
	text-decoration: underline;
}

#textoGenerado {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

.custom-option-list {
	/* Agrega estilos personalizados para el option-list dentro de la secci칩n principal */
}



